<!--about start -->
<section id="about" class="about">
    <div class="section-heading text-center">
        <h2>about me</h2>
    </div>
    <div class="container">
        <div class="about-content">
            <div class="row">
                <div class="col-sm-6">
                    <div class="single-about-txt">
                        <h3>
                            I am a Python Full Stack Developer with 1+ years of experience in building scalable and high-performance web applications using Django & (DRF). I specialize in backend development, API integration, and database management (MySQL) while also having experience in payment gateways, third-party APIs. My expertise lies in creating efficient, secure, and well-optimized systems that enhance business operations. I am passionate about solving complex backend challenges and continuously improving application performance. 
                        </h3>
                        <p>I am a Python Full Stack Developer with expertise in Django and DRF, building scalable web applications and integrating APIs to create efficient backend systems.</p>

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="single-about-add-info">
                                    <h3>phone</h3>
                                    <p>+91 8193036931</p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="single-about-add-info">
                                    <h3>email</h3>
                                    <p>ranjeeteinfo@gmail.com</p>
                                </div>
                            </div>
                          
                        </div>
                    </div>
                </div>
                <div class="col-sm-offset-1 col-sm-5">
                    <div class="single-about-img">
                        <img src="/media/MyPhoto/me.jpg" alt="profile_image">
                        <div class="about-list-icon">
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/share/151jkEpkUQ/">
                                        <i  class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>
                                </li><!-- / li -->
                                <li>
                                    <a href="https://github.com/Ranjeeteinfo">
                                        <i  class="fab fa-github" aria-hidden="true"></i>
                                    </a>
                                    
                                </li><!-- / li -->
                                <li>
                                    <a href="#">
                                        <i  class="fa fa-twitter" aria-hidden="true"></i>
                                    </a>
                                    
                                </li><!-- / li -->
                                <li>
                                    <a href="https://www.linkedin.com/in/ranjeeteinfo/">
                                        <i  class="fa fa-linkedin" aria-hidden="true"></i>
                                    </a>
                                </li><!-- / li -->
                                <li>
                                    <a href="https://www.instagram.com/ranjeet_seingh/">
                                        <i  class="fa fa-instagram" aria-hidden="true"></i>
                                    </a>
                                </li><!-- / li -->
                                
                                
                            </ul><!-- / ul -->
                        </div><!-- /.about-list-icon -->

                    </div>

                </div>
            </div>
        </div>
    </div>
</section><!--/.about-->
<!--about end -->