<section id="education" class="education">
    <div class="section-heading text-center">
        <h2>education</h2>
    </div>
    <div class="container">
        <div class="education-horizontal-timeline">
            <div class="row">
                <div class="col-sm-4">
                    <div class="single-horizontal-timeline">
                        <div class="experience-time">
                            <h2>2019 - 2021</h2>
                            <h3>bachelor <span>of </span> Science (B.Sc.)</h3>
                        </div><!--/.experience-time-->
                        <div class="timeline-horizontal-border">
                            <i class="fa fa-circle" aria-hidden="true"></i>
                            <span class="single-timeline-horizontal"></span>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <h4 class="title">
                                    Dr. B.R. Ambedkar University,
                                </h4>
                               
                                <p class="description">
                                    Computer Science graduate from Dr. B.R. Ambedkar University, specializing in Django, DRF, and backend development.
                                </p>
                            </div><!--/.timeline-content-->
                        </div><!--/.timeline-->
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single-horizontal-timeline">
                        <div class="experience-time">
                            <h2>2023 - 2023</h2>
                            <h3>Diploma in Python Development</h3>
                        </div><!--/.experience-time-->
                        <div class="timeline-horizontal-border">
                            <i class="fa fa-circle" aria-hidden="true"></i>
                            <span class="single-timeline-horizontal"></span>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <h4 class="title">
                                    Vision Infotec
                                </h4>
                             
                                <p class="description">
                                    Python Full Stack Developer certified from Vision Infotec, skilled in Django, DRF, API integration, MySQL, and front-end technologies.                                </p>
                            </div><!--/.timeline-content-->
                        </div><!--/.timeline-->
                    </div>
                </div>
              
            </div>
        </div>
    </div>

</section><!--/.education-->