<section id="experience" class="experience">
    <div class="section-heading text-center">
        <h2>experience</h2>
    </div>
    <div class="container">
        <div class="experience-content">
                <div class="main-timeline">
                    <ul>
                        <li>
                            <div class="single-timeline-box fix">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="experience-time text-right">
                                            <h2>2024 - Present</h2>
                                            <h3>Python Full stack developer</h3>
                                        </div><!--/.experience-time-->
                                    </div><!--/.col-->
                                    <div class="col-md-offset-1 col-md-5">
                                        <div class="timeline">
                                            <div class="timeline-content">
                                                <h4 class="title">
                                                    <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                                    Joytirling Technology
                                                </h4>
                                                <h5>Pune</h5>
                                                <p class="description">
                                                    Collaborating with a team on various projects to optimize trading operations, API integration, and client
                                                    management systems using Python, Django, and Django REST Framework (DRF):
                                                     Algo Trading System: Built and maintained a robust backend system using Django and DRF, integrating
                                                    APIs from brokers like Angel One, Dhan, and 5Paisa to streamline trading operations.
                                                     Unified Backend System: Designed a centralized backend with Django to connect multiple brokers,
                                                    improving system reliability and simplifying workflows.
                                                     CRM System: Developed a client management platform using Python and Django for efficient lead
                                                    handling and communication.
                                                     Front-End Interfaces: Created responsive and user-friendly front-end designs with HTML, CSS,
                                                    JavaScript, and Bootstrap, integrating seamlessly with Django backends.
                                                     Database Optimization: Managed and optimized databases using MySQL for high performance and
                                                    efficient data processing.                                                </p>
                                            </div><!--/.timeline-content-->
                                        </div><!--/.timeline-->
                                    </div><!--/.col-->
                                </div>
                            </div><!--/.single-timeline-box-->
                        </li>

                        <li>
                            <div class="single-timeline-box fix">
                                <div class="row">
                                    <div class="col-md-offset-1 col-md-5 experience-time-responsive">
                                        <div class="experience-time">
                                            <h2>
                                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                                March 2024 – August 2024
                                            </h2>
                                            <h3>Full Stack developer</h3>
                                        </div><!--/.experience-time-->
                                    </div><!--/.col-->
                                    <div class="col-md-5">
                                        <div class="timeline">
                                            <div class="timeline-content text-right">
                                                <h4 class="title">
                                                    RS Solar CAD Group
                                                </h4>
                                                <h5>Ghaziabad,U P</h5>
                                                <p class="description">
                                                    Developed comprehensive web applications to streamline business processes:
                                                    o HR Portal: Built an efficient system to manage employee records and payroll, improving accuracy and accessibility.
                                                    o Employee Portal: Designed an intuitive check-in/out system with payroll access, enhancing user experience.
                                                    o Client Portal: Developed a platform allowing clients to request proposal designs, permit plans, and engineering reviews, improving client satisfaction.
                                                    o Admin Portal:                                                </p>
                                            </div><!--/.timeline-content-->
                                        </div><!--/.timeline-->
                                    </div><!--/.col-->
                                    <div class="col-md-offset-1 col-md-5 experience-time-main">
                                        <div class="experience-time">
                                            <h2>
                                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                                March 2024 – August 2024
                                            </h2>
                                            <h3>Full Stack developer</h3>
                                        </div><!--/.experience-time-->
                                    </div><!--/.col-->
                                </div>
                            </div><!--/.single-timeline-box-->
                        </li>

                        <li>
                            <div class="single-timeline-box fix">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="experience-time text-right">
                                            <h2>Freelance 2024</h2>
                                            <h3>Full stack developer</h3>
                                        </div><!--/.experience-time-->
                                    </div><!--/.col-->
                                    <div class="col-md-offset-1 col-md-5">
                                        <div class="timeline">
                                            <div class="timeline-content">
                                                <h4 class="title">
                                                    <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                                    Ashwini Water Technology
                                                </h4>
                                                <h5>Pune</h5>
                                                <p class="description">
                                                     Built a full-stack e-commerce platform with Django backend and a responsive frontend.
                                                     Integrated secure payment gateways and API-driven features for smooth transactions.
                                                     Enhanced admin operations with a tailored product & order management system.                                                </p>
                                            </div><!--/.timeline-content-->
                                        </div><!--/.timeline-->
                                    </div><!--/.col-->
                                </div>
                            </div><!--/.single-timeline-box-->
                        </li>

                    </ul>
                </div><!--.main-timeline-->
            </div><!--.experience-content-->
    </div>

</section><!--/.experience-->