<section id="portfolio" class="portfolio">
    <div class="portfolio-details">
        <div class="section-heading text-center">
            <h2>portfolio</h2>
        </div>
        <div class="container">
            <div class="portfolio-content">
                <div class="isotope">
                    <div class="row">

                        <div class="col-sm-4">
                            <div class="item">
                                <img src="/media/refoot.jpg" alt="portfolio image"/>
                                <div class="isotope-overlay">
                                    <a href="https://refoot.in/home/">
                                        Full stack developer
                                    </a>
                                </div><!-- /.isotope-overlay -->
                            </div><!-- /.item -->
                            <div class="item">
                                <img src="/media/emp.jpg" alt="portfolio image"/>
                                <div class="isotope-overlay">
                                    <a href="https://hr.refoot.in/home/">
                                        Full stack developer
                                    </a>
                                </div><!-- /.isotope-overlay -->
                            </div><!-- /.item -->
                        </div><!-- /.col -->

                        <div class="col-sm-4">
                            <div class="item">
                                <img src="/media/hr.jpg" alt="portfolio image"/>
                                <div class="isotope-overlay">
                                    <a href="https://hr.refoot.in/rsadmin/login/">
                                        Full stack developer
                                    </a>
                                </div><!-- /.isotope-overlay -->
                            </div><!-- /.item -->
                            <div class="item">
                                <img src="/media/reteck.jpg" alt="portfolio image"/>
                                <div class="isotope-overlay">
                                    <a href="https://retech.refoot.in/">
                                        Full stack developer
                                    </a>
                                </div><!-- /.isotope-overlay -->
                            </div><!-- /.item -->
                        </div><!-- /.col -->

                        <div class="col-sm-4">
                            <div class="item">
                                <img src="/media/erp.jpg" alt="portfolio image"/>
                                <div class="isotope-overlay">
                                    <a href="https://erp.joytilingtechnology.com/employee/deshboard/">
                                        Full stack developer
                                    </a>
                                </div><!-- /.isotope-overlay -->
                            </div><!-- /.item -->
                            
                            <div class="item">
                                <img src="/media/dj.jpg" alt="portfolio image"/>
                                <div class="isotope-overlay">
                                    <a href="https://dj.refoot.in/palye2/">
                                        Full stack developer
                                    </a>
                                </div><!-- /.isotope-overlay -->
                            </div><!-- /.item -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!--/.isotope-->
            </div><!--/.gallery-content-->
        </div><!--/.container-->
    </div><!--/.portfolio-details-->

</section><!--/.portfolio-->